.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined.filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

:root {
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --background: #ffffff;
  --border: #e5e5e5;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --chart-1: #f54900;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;
  --destructive: #e7000b;
  --destructive-foreground: #fafafa;
  --foreground: #0a0a0a;
  --input: #e5e5e5;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #171717;
  --primary-foreground: #fafafa;
  --ring: #a1a1a1;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --semantic-background: #696867;
  --semantic-border: #898887;
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-4xl: 32px;
  --radius-full: 9999px;
  --radius-none: 0px;
  --radius: var(--radius-lg);
}

.dark {
  --accent: #262626;
  --accent-foreground: #fafafa;
  --background: #0a0a0a;
  --border: #ffffff1a;
  --card: #171717;
  --card-foreground: #fafafa;
  --chart-1: #1447e6;
  --chart-2: #00bc7d;
  --chart-3: #fe9a00;
  --chart-4: #ad46ff;
  --chart-5: #ff2056;
  --destructive: #ff6467;
  --destructive-foreground: #fafafa;
  --foreground: #fafafa;
  --input: #ffffff26;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --popover: #171717;
  --popover-foreground: #fafafa;
  --primary: #e5e5e5;
  --primary-foreground: #171717;
  --ring: #737373;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --semantic-background: #272625;
  --semantic-border: #535151;
}
